*{
	margin: 0;
	padding: 0;

}
body {
	font-size: 12px;
}
input,
button {
	border: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: #666;
}

li {
	list-style: none;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
img {
	border: 0;
	vertical-align: middle;
}